VITE_FIREBASE_API_KEY=AIzaSyANrY7-y3sYJTrTrw4TfZ6hMc3ZH5IpfVo
VITE_FIREBASE_AUTH_DOMAIN=controle-despesas-receitas-mm.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=controle-despesas-receitas-mm
VITE_FIREBASE_STORAGE_BUCKET=controle-despesas-receitas-mm.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=204836683608
VITE_FIREBASE_APP_ID=1:204836683608:web:345a26de7decf49cf6ef2d
VITE_FIREBASE_MEASUREMENT_ID=G-HRCT7DXGPM
